*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Roboto;
    background: rgb(35, 145, 135);
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
h1{
    font-weight: 800;
    font-size: 28px;
    color: white;
}
.container_calculator{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(11, 43, 68);
    border-radius: 10px;
    border: 2px solid white;
    overflow: hidden;
    box-shadow: 10px 10px 21px -5px rgba(0,0,0,0.36);
}
.container_output{
    color: white;
    background-color: rgb(11, 35, 55);
    font-weight: 700;
    padding: 10px 0;
    border-bottom: 2px solid;
    border-image: 
    linear-gradient(
      to right, 
      white, 
      rgba(0, 0, 0, 0)
    ) 1 
}
.container_buttons{
    display: grid;
    grid-template-columns: repeat(3, 70px);
    grid-template-rows: repeat(2, 70px);
    gap: 25px;
    padding:25px 0;
}
button{
    border: none;
    border-radius: 4px;
    font-size: 1.2rem;
    font-weight: 700;
    cursor: pointer;
    background-color: inherit;
    transition: all 0.3s ease-in-out;
}
.buttons-terminales{
    color: white
}
.button-remove, .button-start{
    color: rgb(35, 145, 135);
}
input{
    padding: 10px;
    border: none;
    font-size: 1.2em;
    font-weight: 700;
    cursor: default;
    background: transparent;
    color:  white;
}
button:hover{
    color: rgb(11, 43, 68);
    background-color: white;
}
.state{
    font-weight: 700;
    padding: 10px 0 10px 13px;
}
input:focus-visible, button:focus-visible{
    outline: none;
}